@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: quesha;
  src: url("./assets/quesha/Quesha.ttf");
}

@theme {
  --color-saffron-400: red;
  --color-saffron-500: #FC00;
  --color-saffron-600: #FF7F00;
  --color-saffron-700: #E67300;
  --color-turmeric-500: #FFD700;
}

/* 
* {
  transition: all ease-in-out 0.3s;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  background-color: #f6f1f1;
  width: 10px;
}

.quesha{
  font-family: quesha;
} */